﻿@model  IEnumerable<string>
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    ViewBag.Title = "Lập Hóa Đơn";
}
<div class="stat-content-title white" style="box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);">
    <span></span>
    Bán Hàng
</div>
<hr />
<body onload="PageOnload()" ng-app="CreateBill">
    <div class="container-fix" style="margin-top:50px;" ng-controller="CreateBillController">
        <div class="row">          
            <div class="col-sm-4" style="padding-right:0px">
                <div class="table-content1">
                    <div class="row">
                        <div class="col-sm-6" id="margin-bottom">
                            <input class="input-full-width" id="ProductID" onkeypress="return enterAsTab();" type="text" tabindex="2" autofocus />
                        </div>
                        <div class="col-sm-6" id="margin-bottom">
                          @*  <input class="k-textbox input-full-width" id="txtSoLuong" min="0" onkeypress="return enterAsTab();" tabindex="3" placeholder="Số lượng..." />*@
                            <button type="button" class="k-button k-primary pull-right" onclick="btnThem_Onclick()" tabindex="3">&nbsp;&nbsp;&nbsp;&nbsp;Thêm &nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>                                           
                    </div>
                    <div class="row" style="padding-left:20px;padding-right:15px;margin-top:10px" >
                       
                    </div>
                    <hr class="hr-style"/>
                    <div class="row">
                        <div class="col-sm-6" id="margin-bottom" >
                            <input class="input-full-width" id="CustomerID" type="text" ng-blur="showInfoCus()" onkeypress="return enterAsTab();" tabindex="1" placeholder="Mã khách hàng..."  />
                        </div>
                        <div class="col-sm-6" id="margin-bottom">
                            <table style="width:100%">
                                <tr>
                                    <td class="info-custumer">
                                        Thông tin khách hàng
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px solid whitesmoke">
                                        <table>
                                            <tbody id="info">
                                                <p ng-bind="Khachle"></p>
                                                <p ng-bind="CustomerID2"></p>
                                                <p ng-bind="CustomerName"></p>
                                                <p ng-bind="Birthday"></p>
                                                <p ng-bind="Sex"></p>
                                                <p ng-bind="PhoneNumber"></p>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        @*<div class="col-sm-2">

                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="table-content1 table-responsive">
                    <table id="laphoadon" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class="k-label text-center">
                                    STT
                                </th>

                                <th class="k-label text-center">
                                    Tên Sản Phẩm
                                </th>
                                <th class="k-label text-center">
                                    Số Lượng
                                </th>
                                <th class="k-label text-center">
                                    Thành Tiền
                                </th>
                                <th class="k-label text-center">
                                    Thao tác
                                </th>
                            </tr>

                        </thead>
                        <tbody class="text-center" id="laphoadon"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var myModel = angular.module("CreateBill", []);
    myModel.controller("CreateBillController", function ($scope, $http) {
        $scope.Khachle = "Khách Lẻ";
        $scope.showInfoCus = function () {
            var tmp = $("#CustomerID").val();
            if (tmp != null)
                var CustomerID = parseInt(tmp);
            // if (!isNaN(CustomerID)) CustomerID = null;
            var req = {
                url: '/bill/checkCustomerID',
                data: { CustomerID: CustomerID },
                headers: { dataType: 'application/json; charset=utf-8' },
                method: 'post'
            }
            // alert(CustomerID);
            $http(req).
                success(function (DataSource) {
                    if (DataSource.info == "ok") {
                        var sex =DataSource.Sex?"Nam":"Nữ";
                        $scope.Khachle = "";
                        $scope.CustomerID2 = "Mã KH: " + DataSource.CustomerID;
                        $scope.CustomerName = "Tên KH: " + DataSource.CustomerName;
                        $scope.Sex = "Giới Tính: " +sex ;
                        $scope.PhoneNumber = "SĐT: " + DataSource.PhoneNumber;
                        // console.log(DataSource);
                    } else {
                        $scope.Khachle = "Khách Lẻ";
                        $scope.CustomerID2 = "";
                        $scope.CustomerName = "";
                        $scope.Sex = "";
                        $scope.PhoneNumber = "";
                    }
                }).
                error(function (DataSource) {
                    // alert(DataSource);
                });
        }
    });
</script>
@Scripts.Render("~/bundles/Bill")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
