﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@model SaleManagement.Models.OrderViewModel
@{
    ViewBag.Title = "Thông tin hóa đơn";
}
@*<div class="container">
    <div id="printableArea">
        <div class="contain-bill">
            <div class="contain-logo">
                <h6><b>@Html.DisplayFor(model => model.StoreName)</b></h6>
            </div>
            <div class="row_HD">
                <div class="col-xs-8">@Html.DisplayFor(model => model.BranchName)</div>
                <div class="col-xs-8">@Html.DisplayFor(model => model.BranchAddress)</div>
                <div class="col-sx-4">Logo</div>
            </div>
            <div class="contain-bill1">
                HÓA ĐƠN BÁN LẺ
            </div>
            <div class="contain-ThongtinHD">
                <div class="row_HD">
                    <div class="col-xs-6">@Html.DisplayNameFor(model => model.DateOfOrder) :</div>
                    <div class="col-xs-6">@Html.DisplayFor(model => model.DateOfOrder)</div>
                </div>
                <div class="row_HD">
                    <div class="col-xs-6">@Html.DisplayNameFor(model => model.OrderID) :</div>
                    <div class="col-xs-6">@Html.DisplayFor(model => model.OrderID)</div>
                </div>

                <div class="row_HD">
                    <div class="col-xs-6">Tên nhân viên :</div>
                    <div class="col-xs-6">@Html.DisplayFor(modelItem => modelItem.EmployeeName)</div>
                </div>
                <div class="row_HD">
                    <div class="col-xs-6">@Html.DisplayNameFor(model => model.CustomerID) :</div>
                    <div class="col-xs-6">Khách lẻ</div>
                </div>
            </div>
            <div>----------------------------------</div>
            <table class="contain-table">
                <tr class="contain-table-row">
                    <th>TênSP</th>
                    <th>
                    <th>SL</th>
                    <th>@Html.DisplayNameFor(h => h.Quantity)₫</th>
                    <th>KM</th>
                    <th>@Html.DisplayNameFor(h => h.Discount) ₫</th>

                </tr>
                @foreach (var item in Model.OrderDetailViewModels)
                {
                    <tr class="contain-table-row-noborder">
                        <td style="width:99px">@Html.DisplayFor(h => item.ProductName)</td>
                        <td>@Html.DisplayFor(h => item.Quantity)</td>
                        <td>@Html.DisplayFor(h => item.ProductPrice)</td>
                        <td>@Html.DisplayFor(h => item.ProductDiscount)%</td>
                        <td>@Html.DisplayFor(h => item.Price)</td>
                    </tr>
                }
            </table>

            <div class=" contain-ThongtinHD">
                <div class="row_HD">
                    <div class="col-xs-6">Tổng Số Lượng :</div>
                    <div class="col-xs-6">@Html.DisplayFor(s=>s.Quantity)</div>
                </div>
                <div class="row_HD">
                    <div class="col-xs-6">Tổng Tiền Khuyến Mãi :</div>
                    <div class="col-xs-6">@Html.DisplayFor(s=>s.Discount)</div>
                </div>

                <div class="row_HD">
                    <div class="col-xs-6">Tổng Tiền :</div>
                    <div class="col-xs-6">@Html.DisplayFor(s=>s.Total)</div>
                </div>
            </div>
            <div>----------------------------------</div>

            <div class="contain-bill1">
                <h6>(Giá trên đã bao gồm thuế GTGT)</h6>
                <h6><b>Cám ơn và hẹn gặp lại quý khách!</b></h6>
            </div>
        </div>
    </div>*@
<div class="row row-margin-bill-preview">
        <div id="printableArea">
            <div class="contain-bill">
                <div class="contain-logo">
                    <h6><b>@Html.DisplayFor(model => model.StoreName)</b></h6>
                </div>
                <div class="row_HD">
                    <div class="col-xs-8">@Html.DisplayFor(model => model.BranchName)</div>
                    <div class="col-xs-8">@Html.DisplayFor(model => model.BranchAddress)</div>
                    @*<div class="col-sx-4">Logo</div>*@
                </div>
                <div class="contain-bill1">
                    HÓA ĐƠN BÁN LẺ
                </div>
                <div class="contain-ThongtinHD">
                    <div class="row_HD">
                        <div class="col-xs-6">@Html.DisplayNameFor(model => model.DateOfOrder) :</div>
                        <div class="col-xs-6">@Html.DisplayFor(model => model.DateOfOrder)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">@Html.DisplayNameFor(model => model.OrderID) :</div>
                        <div class="col-xs-6">@Html.DisplayFor(model => model.OrderID)</div>
                    </div>

                    <div class="row_HD">
                        <div class="col-xs-6">Tên nhân viên :</div>
                        <div class="col-xs-6">@Html.DisplayFor(modelItem => modelItem.EmployeeName)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Khách Hàng:</div>
                        <div class="col-xs-6">@Html.DisplayFor(s=>s.CustomerName)</div>
                    </div>
                </div>
                <div>----------------------------------</div>
                <table class="contain-table">
                    <tr class="contain-table-row">
                        <th>TênSP</th>
                        <th>SL</th>
                        <th>@Html.DisplayNameFor(h => h.OrderDetailViewModels.First().ProductPrice)₫</th>
                        <th>KM</th>
                        <th>@Html.DisplayNameFor(h => h.OrderDetailViewModels.First().Price) ₫</th>

                    </tr>
                    @foreach (var item in Model.OrderDetailViewModels)
                    {
                        <tr class="contain-table-row-noborder">
                            <td style="width:99px">@Html.DisplayFor(h => item.ProductName)</td>
                            <td>@Html.DisplayFor(h => item.Quantity)</td>
                            <td>@Html.DisplayFor(h => item.ProductPrice)</td>
                            <td>@Html.DisplayFor(h => item.ProductDiscount)%</td>
                            <td>@Html.DisplayFor(h => item.Price)</td>
                        </tr>
                    }
                </table>

                <div class=" contain-ThongtinHD">
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Số Lượng :</div>
                        <div class="col-xs-6">@Html.DisplayFor(a=>a.Quantity)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Tiền :</div>
                        <div class="col-xs-6">@Html.DisplayFor(a=>a.Total)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Tiền Khuyến Mãi :</div>
                        <div class="col-xs-6">@Html.DisplayFor(a=>a.Discount)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Tiền Khách Trả:</div>
                        <div class="col-xs-6">@Html.DisplayFor(h => h.Total)</div>
                    </div>
                </div>
                <div>----------------------------------</div>
             
                <div class="contain-bill1">
                    <h6>(Giá trên đã bao gồm thuế GTGT)</h6>
                    <h6><b>Cám ơn và hẹn gặp lại quý khách!</b></h6>
                </div>
            </div>
        </div>
       
</div>

    <div class="contain-logo">
        <button type="submit" onclick="printContent('printableArea')" class=" btn btn-default">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            In Hóa Đơn
        </button>
        
        @Html.ActionLink("Trở Về", "listday", "Stats", null, new { @class = "btn btn-default" })
    </div>
</div>
    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}