﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@model SaleManagement.Models.Order
@{
    ViewBag.Title = "Preview";
}
<div class="body-content" ng-app ng-init="tong='@ViewBag.tong'">

    <div class="row row-margin-bill-preview">
        <div class="col-xs-6">
            <form action="~/Bill/Preview?prepay=1234">
                <table class="content-custumer-pay">
                    <tr>
                        <td style="background-color:lightblue;padding:5px 5px 5px 5px"><b>Nhập tiền khách trả</b></td>
                    </tr>
                    <tr>
                        <td style="background-color:whitesmoke;padding:10px 10px 01px 10px">
                            <div class="form-group">
                                <table style="width:100%">
                                    <tr>
                                        <td style="padding-bottom:10px">
                                            <input type="text" ng-model="khachtra" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">
                                            <label for="Tien tra lai khach">Tiền khách trả: {{khachtra | number:0}} ₫</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">
                                            <label for="Tien tra lai khach">Tiền trả lại khách: {{khachtra-tong | number:0}} ₫</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="bill-print-caution">Vui lòng kiểm tra lại hóa đơn trước khi in!</h6>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-xs-6">
            @*<div id="printableArea" style="width:303px">*@
            <div class="contain-bill" id="printableArea">
                <div class="contain-logo">
                    <b>@Html.DisplayFor(model => model.Employee.Branch.Store.StoreName)</b>
                </div>
                <div class="row_HD">
                    <div class="col-xs-8">@Html.DisplayFor(model => model.Employee.Branch.BranchName)</div>
                    <div class="col-xs-8">@Html.DisplayFor(model => model.Employee.Branch.BranchAddress)</div>
                    @*<div class="col-sx-4">Logo</div>*@
                </div>
                <div class="contain-bill1">
                    HÓA ĐƠN BÁN LẺ
                </div>
                <div class="contain-ThongtinHD">
                    <div class="row_HD">
                        <div class="col-xs-6">@Html.DisplayNameFor(model => model.DateOfOrder) :</div>
                        <div class="col-xs-6">@Html.DisplayFor(model => model.DateOfOrder)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">@Html.DisplayNameFor(model => model.OrderID) :</div>
                        <div class="col-xs-6">@Html.DisplayFor(model => model.OrderID)</div>
                    </div>

                    <div class="row_HD">
                        <div class="col-xs-6">Tên nhân viên :</div>
                        <div class="col-xs-6">@Html.DisplayFor(modelItem => modelItem.Employee.FullName)</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Khách Hàng:</div>
                        <div class="col-xs-6">@ViewBag.CustomerName</div>
                    </div>
                </div>
                <div style="text-align:center">----------------------------------</div>
                <table class="contain-table">
                    <tr class="contain-table-row">
                        <td>TênSP</td>
                        <td style="width:20px">SL</td>
                        <td style="width:60px">@Html.DisplayNameFor(h => h.OrderDetails.Last().Product.Price)₫</td>
                        <td style="width:30px">KM</td>
                        <td style="width:65px">@Html.DisplayNameFor(h => h.OrderDetails.Last().Price)₫</td>

                    </tr>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr class="contain-table-row-noborder">
                            <td>@Html.DisplayFor(h => item.Product.ProductName)</td>
                            <td style="width:20px">@Html.DisplayFor(h => item.Quantity)</td>
                            <td style="width:50px">@Html.DisplayFor(h => item.Product.Price)</td>
                            <td style="width:20px">@Html.DisplayFor(h => item.Product.Discount)%</td>
                            <td style="width:65px">@Html.DisplayFor(h => item.Price)</td>
                        </tr>
                    }
                </table>

                <div class=" contain-ThongtinHD">
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Số Lượng :</div>
                        <div class="col-xs-6">@ViewBag.TongSL</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Tiền :</div>
                        <div class="col-xs-6">@ViewBag.TongTienKhachTra</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Tiền Khuyến Mãi :</div>
                        <div class="col-xs-6">@ViewBag.TongTienKM</div>
                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tổng Tiền Khách Trả:</div>
                        <div class="col-xs-6">@Html.DisplayFor(h => h.Total)</div>
                    </div>
                </div>
                <div style="text-align:center">----------------------------------</div>
                <div class=" contain-ThongtinHD">
                    <div class="row_HD">

                        <div class="col-xs-6">Tiền khách trả:</div>
                        <div class="col-xs-6">{{khachtra | number:0}} ₫</div>

                    </div>
                    <div class="row_HD">
                        <div class="col-xs-6">Tiền trả lại khách:</div>
                        <div class="col-xs-6">{{khachtra-tong | number:0}} ₫</div>
                    </div>
                </div>
                <div class="contain-bill1">
                    <h6>(Giá trên đã bao gồm thuế GTGT)</h6>
                    <h6>Cám ơn và hẹn gặp lại quý khách!</h6>
                </div>
            </div>

            @*</div>*@
            <div class="contain-logo">
                <button type="submit" onclick="printContent('printableArea')" class=" btn btn-default">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    In Hóa Đơn
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}