﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="stat-content-title white">
    <span><img src="~/Content/img/stats/bar-chart-icon.png" style="max-height:40px;max-width:40px" /></span>
    Thống Kê Doanh Thu
    <a href="#">
        <span class="fa fa-refresh fa-fw pull-right refresh" id="refresh"></span>
    </a>
</div>
<div class="content-datetimepicker">
    <div class=" panel-group" id="accordion">
    <!--Thong ke theo ngay-->
    <div class="panel panel-default col-sm-3">
        <div class="panel-heading ">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
               href="#collapseDay">
                <h4 class="panel-title">Thống kê theo ngày</h4>
            </a>
        </div>
        <div id="collapseDay" class="panel-collapse collapse">
            <div class="panel-body">
                <input id="day" onchange="GraphOrderDay()" placeholder="Chọn Ngày " class="input-full-width" />
            </div>
        </div>
    </div>
    <!--end-->
    <!--Thong ke theo thang-->
    <div class="panel panel-default col-sm-3">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
               href="#collapseMonth">
                <h4 class="panel-title">Thống kê theo tháng</h4>
            </a>
        </div>
        <div id="collapseMonth" class="panel-collapse collapse">
            <div class="panel-body">
                <input id="month" onchange="GraphOrderMonth()" placeholder="Chọn Tháng " class="input-full-width" />
            </div>
        </div>
    </div>
    <!--end-->
    <!--Thong ke theo nam-->
    <div class="panel panel-default col-sm-3">
        <div class="panel-heading ">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
               href="#collapseYear">
                <h4 class="panel-title">Thống kê theo năm</h4>
            </a>
        </div>
        <div id="collapseYear" class="panel-collapse collapse">
            <div class="panel-body">
                <input id="year" onchange="GraphOrderYear()" placeholder="Chọn Năm " class="input-full-width" />
            </div>
        </div>
    </div>
    <!--end-->
    <!--Thong ke theo khoang thoi gian-->
    <div class="panel panel-default col-sm-3">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
               href="#collapseDis">
                <h4 class="panel-title">Thống kê theo khoảng thời gian</h4>
            </a>
        </div>
        <div id="collapseDis" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    <input id="start"  placeholder="Ngày bắt đầu..." onchange="GraphDaybyDay()" class="input-full-width" />
                    <input id="end"  placeholder="Ngày kết thúc..." onchange="GraphDaybyDay()" class="input-full-width" />
                </p>
            </div>
        </div>
    </div>
    <!--end-->
</div>
</div>

<div id="dongho" style="margin-top:10px">
    

    <div id="graph">
        <div id="chart"></div>
        <div id="chart" onclick="load()" style="width:100%;"></div>
       
       
        @Scripts.Render("~/bundles/StatGraph")
    </div>

</div>
