﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@model  List<object>
            
<div class="row row-margin-bill-preview">
    <a href="/Stats/GraphLiquidity">
    <div class="col-sx-6 col-sm-4">
        <table class="chart-table-content">
            <tr>
                <td class="chart-table-content-title">
                    <b>  Khối Lượng Giao Dịch </b><span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                </td>
            </tr>
            <tr>
                <td class="chart-table-content-info">
                    <div><p1>@Html.Action("CountLiquidityWeek")</p1><b>số lượng giao dịch</b></div>
                    <div>@Html.Action("CountLiquidityLastWeek") <font style="font-style:italic">so với tuần trước</font></div>
                </td>
            </tr>
            <tr>
                <td style="display:inline-block">
                    <div id="chart" style="background: center no-repeat url('/Content/img/back1.jpg')"></div>
                </td>
            </tr>
        </table>
    </div>
        </a>
    <a href="/Stats/Graph">
    <div class="col-sx-6 col-sm-4">
        <table class="chart-table-content">
            <tr>
                <td class="chart-table-content-title">
                    <b>Doanh Thu </b><span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                </td>
            </tr>
            <tr>
                <td class="chart-table-content-info">
                    <div><p1>@Html.Action("SumTurnoverWeek")</p1> </div>
                    <div>@Html.Action("SumTurnoverLastWeek")<font style="font-style:italic">so với tuần trước</font></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="chart2" style="background: center no-repeat url('/Content/img/back.jpg');"></div>
                </td>
            </tr>
        </table>
    </div></a>
    <a href="/Stats/GraphProduct">
    <div class="col-sx-6 col-sm-4">
        <table class="chart-table-content">
            <tr>
                <td class="chart-table-content-title">
                    <b>  Sản Phẩm </b><span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                </td>
            </tr>
            <tr>
                <td class="chart-table-content-info">
                    <div><p1>@Html.Action("CountProductWeek")</p1> <b>Lượng Sản phẩm Bán ra</b></div>
                    <div>@Html.Action("CountProductLastWeek")<font style="font-style:italic">so với tuần trước</font></div>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="chart-table-product-info">
                        <tr>
                            <td class="chart-table-content-info-product">
                                <div><p1>@ViewBag.Quantity1</p1></div>
                                <div>@ViewBag.Product1</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-table-content-info-product">
                                <div><p1>@ViewBag.Quantity2</p1></div>
                                <div>@ViewBag.Product2</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-table-content-info-product">
                                <div><p1>@ViewBag.Quantity3</p1></div>
                                <div>@ViewBag.Product3</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-table-content-info-product">
                                <div><p1>@ViewBag.Quantity4</p1></div>
                                <div>@ViewBag.Product4</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*<tr>
                    <td>
                        <div id="chart3"></div>
                    </td>
                </tr>*@
        </table>
    </div>
        </a>
</div>
@Scripts.Render("~/bundles/StatIndex")
