﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="stat-content-title">
    <span><img src="~/Content/img/stats/stat-tables-icon.png" style="max-height:50px;max-width:50px" /></span>
    Thống Kê Khách Hàng
</div>
<div class="stat-margin-bottom">
    <span class="k-textbox k-space-right">
        <input type="text" style="height:30px" id="txtSearchString" placeholder="Nhập mã hoặc tên KH" />
        <a href="#" onclick="onSearch()" class="k-icon k-i-search">&nbsp;</a>
    </span>
    
</div>
<div id="grid"></div>
<div id="window"></div>

<script type="text/x-kendo-template" id="windowTemplate">
    <h3 class="text-center">THÔNG TIN KHÁCH HÀNG</h3>
    <table>
        <tr>
            <td class="col-md-2">    Họ tên KH: </td>
            <td class="col-md-6"><strong>#=CustomerName#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Mã Khách Hàng: </td>
            <td class="col-md-4"><strong>#=CustomerID#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Loại Khách Hàng: </td>
            <td class="col-md-4"><strong>#=CustomerCategoryName#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Giới Tính: </td>
            <td class="col-md-4"><strong>#=Sex#</strong></td>
        </tr>

        <tr>
            <td class="col-md-8">    Email: </td>
            <td class="col-md-4"><strong>#=Email#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Địa Chỉ: </td>
            <td class="col-md-4"><strong>#=Address#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Số Điện Thoại: </td>
            <td class="col-md-4"><strong>#=PhoneNumber#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Số Lượng Giao Dịch: </td>
            <td class="col-md-4"><strong>#=OrderID#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Số Lượng Sản Phẩm: </td>
            <td class="col-md-4"><strong>#=Quantity#</strong></td>
        </tr>
        <tr>
            <td class="col-md-8">    Tổng Chi Phí: </td>
            <td class="col-md-4"><strong>#=Total#</strong></td>
        </tr>
    </table>

    <div class="text-center">
        <button class="k-button k-primary" id="noButton">ĐÓNG</button>
    </div>
</script>

@Scripts.Render("~/bundles/StatListCustomer")