﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="stat-content-title">
    <span><img src="~/Content/img/stats/stat-tables-icon.png" style="max-height:50px;max-width:50px" /></span>
    Thống Kê Hóa Đơn Theo Tháng
</div>
<div id="dongho" class="stat-margin-bottom">
    <input id="month" onchange="test()" placeholder="Chọn Tháng" />

</div>
<div id="grid"></div>

@Scripts.Render("~/bundles/StatListMonth")