﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/img/favicon.ico">
    <title>Quản Lý Bán Hàng </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/homepage/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/homepage")


</head>
<body>
    <!-- NAVBAR  ================================================== -->
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px">
                <div class="container-fluid">
                    <div class="navbar-header" style="text-align:center;">
                        <button type="button" class="navbar-toggle collapsed" style="text-align:center;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img style="max-width:100px; vertical-align:middle; max-height:40px;margin-top:5px" src="~/Content/img/logotest.png">
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!--Trang chủ-->
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            @if (Request.IsAuthenticated && User.IsInRole("Accountant"))
                            {
                                <li> @Html.ActionLink("Bán Hàng", "Create", "Bill")</li>
                            }
                            <!--Dropdown -->
                            @if (Request.IsAuthenticated && User.IsInRole("Storekeeper"))
                            {
                                <li class="dropdown">
                                    <!--Tên Dropdown-->
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quản Lý Kho <span class="caret"></span></a>
                                    <!--Item con-->
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="menuitem">@Html.ActionLink("Quản Lý Sản Phẩm", "Index", "Product")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Loại Sản Phẩm", "Index", "Category")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Nhà Cung Cấp", "Index", "Provider")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Chi Tiết Nhà Cung Cấp", "Index", "ProviderDetail")</li>
                                        <li role="presentation">@Html.ActionLink("Cập Nhật Thông Tin Từ File", "UploadFile", "Product")</li>
                                    </ul>
                                </li>
                                <li>@Html.Action("GetNotify", "Home")</li>
                            }

                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="dropdown">
                                    <!--Tên Dropdown-->
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quản Lý Kho <span class="caret"></span></a>
                                    <!--Item con-->
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="menuitem">@Html.ActionLink("Quản Lý Sản Phẩm", "Index", "Product")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Loại Sản Phẩm", "Index", "Category")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Nhà Cung Cấp", "Index", "Provider")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Chi Tiết Nhà Cung Cấp", "Index", "ProviderDetail")</li>
                                        <li role="presentation">@Html.ActionLink("Cập Nhật Thông Tin Từ File", "UploadFile", "Product")</li>
                                    </ul>
                                </li>

                                <li> @Html.ActionLink("Bán Hàng", "Create", "bill")</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false">Quản Lý Thông Tin<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation">@Html.ActionLink("Quản Lý Phòng Ban", "Index", "Department")</li>
                                        <li role="menuitem">@Html.ActionLink("Quản Lý Nhân Viên", "Index", "Account")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Khách Hàng", "Index", "Customer")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Loại Khách Hàng", "Index", "CustomerCategory")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Phân Quyền", "authorize", "account")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Chi Nhánh", "Index", "Branch")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Cửa Hàng", "Index", "Store")</li>
                                        <li role="presentation">@Html.ActionLink("Quản Lý Điểm Khách Hàng", "EditPoint", "Customer")</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                       @Html.ActionLink("Thống Kê", "Index", "stats")
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header text-center">Danh Sách</li>
                                        <li role="presentation">@Html.ActionLink("Hóa Đơn(Tùy Chọn)", "ListDayByDay", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Hóa Đơn (Theo Ngày)", "ListDay", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Hóa Đơn (Theo Tháng)", "ListMonth", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Hóa Đơn (Theo Năm)", "List", "stats")</li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation" class="dropdown-header text-center">Biểu Đồ</li>
                                        <li role="presentation">@Html.ActionLink("Tổng Quan", "index", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Doanh Thu", "Graph", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Sản Phẩm", "GraphProduct", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Số Lượng Sản Phẩm", "GraphProductQuantity", "stats")</li>
                                        <li role="presentation">@Html.ActionLink("Thanh Khoản", "GraphLiquidity", "stats")</li>
                                    </ul>
                                </li>
                                <li>
                                    @Html.Action("GetNotify", "Home")
                                </li>
                            }
                        </ul>
                        <ul class="nav navbar-nav" style="float:right">

                            <li>
                                <ul class="nav navbar-nav">@Html.Partial("_LoginPartial")</ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <!-- NAVBAR ================================================== -->


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy ThePhuongSolutions @DateTime.Now.Year </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>


