﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Content/img/favicon.ico">
    <title>Quản Lý Bán Hàng </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        var app = angular.module("MyApp", []);
        app.controller("BanHang", function ($scope,$http) {
            //khoi tao bang Catalog
            $scope.Load = function () {
             
                var req = {
                    url: '/AngularBill/GetCatalogs',
                    //data: {},
                    headers: { dataType: 'application/json; charset=utf-8' },
                    method: 'get'
                }
                $http(req).
                    success(function (data) {
                       
                        $scope.CatalogTable = data;
                    }).
                    error(function (data) {

                    });
                //$scope.CatalogTable=[
                //    { id: 1, type: "Work", name: "Writing code" },
                //    { id: 2, type: "Work", name: "Testing code" },
                //    { id: 3, type: "Work", name: "Fixing bugs" },
                //    { id: 4, type: "Play", name: "Dancing" }
                //];
            }
            $scope.currentActivity = {
                name: "Dani",
                currentActivity: {
                    id: 3,
                    type: "Work",
                    name: "Fixing bugs"
                }
            };

            $scope.activities =
            [
                { id: 1, type: "Work", name: "Writing code" },
                { id: 2, type: "Work", name: "Testing code" },
                { id: 3, type: "Work", name: "Fixing bugs" },
                { id: 4, type: "Play", name: "Dancing" }
            ];
            $scope.hidden = true;
            $scope.Items = [{ Product: { ProductName: 'abc', ProductID: 'SP123' }, Quantity: 4, TotalValue: 123 },
            { Product: { ProductName: 'abc2', ProductID: 'SP2' }, Quantity: 8, TotalValue: 8 }];
            $scope.AddToCard = function () {
                var ollis = $scope.Items;
                $scope.Items = [];
                var it = { Product: { ProductName: "ABC", ProductID: $scope.ProductID }, Quantity: $scope.Quantity, TotalValue: 123 };
                $scope.Items.push(it);
                angular.forEach(ollis, function (ite) {
                    $scope.Items.push(ite);
                })
            }
            $scope.btnXoa_OnClick = function (item) {
                alert(item.Product.ProductName);
                alert(item.Quantity);
            }
        });
    </script>
    <style>
        .x {
            display: none;
        }
    </style>
</head>
<body ng-app="MyApp" >
    <div class="container body-content" ng-controller="BanHang" ng-init="Load()">
        <h2>Bán Hàng</h2>
        <div class="container" style="margin-top:50px;">
            <div class="row">
                <div class="col-sm-3">
                    <select data-ng-model="engineer.currentActivity"
                            data-ng-options="a.name +' (' + a.type + ')' for a in CatalogTable"></select>
                </div>
                <div class="col-sm-2">
                    <div class="input-group spinner">
                        <input type="text" class="form-control" value="0" ng-model="Quantity" />
                    </div>
                </div>

                <div class="col-sm-5">
                    <button type="button" class="btn btn-primary" ng-click="AddToCard()">Thêm</button>
                </div>

            </div>
            <br />
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table id="laphoadon" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    STT
                                </th>

                                <th>
                                    Tên Sản Phẩm
                                </th>
                                <th>
                                    Số Lượng
                                </th>
                                <th>
                                    Thành Tiền
                                </th>
                                <th>
                                    Thao tác
                                </th>
                            </tr>

                        </thead>
                        <tbody id="laphoadon" ng-class="{hidden:yes}">
                            <tr ng-repeat="item in Items">
                                <th>
                                    {{$index}}
                                </th>

                                <th>
                                    {{item.Product.ProductName}}
                                </th>
                                <th>
                                    <input type="text" class="form-control" ng-model="item.Quantity" />
                                </th>
                                <th>
                                    {{item.TotalValue}}
                                </th>
                                <th>
                                    <button type="button" class="btn btn-default" ng-click="btnXoa_OnClick(item)"> &nbsp;&nbsp;Xóa&nbsp;&nbsp; </button>

                                    <button type="button" class="btn btn-default" ng-click="btnUpdateQuality_OnClick(item)"> Cập nhật SL </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy ThePhuongSolutions 2015 </p>
        </footer>
    </div>
</body>
</html>
