﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.container-fix{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}
.contain-bill {
    width: 303px;
    background-color:#fff;
    margin: 0 auto;
    margin-top:15px;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border:1px solid black;
}

.contain-bill1 {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
}

.contain-ThongtinHD {
    width: 303px;
    margin: 0px auto;
    text-align: left;
}

.contain-table {
    width: 100%;
    text-align: left;
    margin: 5px auto;
    font-size: 11px;
}

.contain-table-row {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: left;
    margin: 5px auto;
    font-size: 11px;
    font-style:normal;
}

.contain-logo {
    width: 100%;
    text-align: center;
    margin: 11px auto;
    font-weight:bold;
    font-size: 12px;
}

.row_HD {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 11px;
    text-align: left;
}

    .row_HD:before,
    .row_HD:after {
        display: table;
        content: " ";
    }

    .row_HD:after {
        clear: both;
    }

    .row_HD:before,
    .row_HD:after {
        display: table;
        content: " ";
    }

    .row_HD:after {
        clear: both;
    }

.add-product {
    width: 400px;
    text-align: left;
    padding: 10px 25px 10px 10px;
    margin-left: 0 auto;
    background-color: whitesmoke;
    border-radius: 15px;
    padding-top: 25px;
}

.button-AddSP {
    padding: 10px 60px 0px 10px;
    width: 400px;
}

.table-product-edit {
    width:450px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    padding:20px 10px 0px 10px;
    background-color: whitesmoke;
}
.table-product-edit-row{
    width:450px;
    height:50px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    padding:10px 10px 10px 10px;
    background-color:#000000;
}

.row-margin-bill-preview{
    margin-top:20px;
}
.bill-print-caution{
    text-align:center;
    color:#ff0000;
    font-weight:bold;
}
.content-custumer-pay{
    width: 303px;
    margin: 0 auto;
    margin-top:15px;
    text-align: center;
    padding: 0 10px 10px 10px;
}

/*statistics css*/
.stat-margin-bottom{
    margin-bottom:10px;
}
.stat-content-title{
    width:100%;
    /*height:60px;*/
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-bottom:10px;
    margin-top:10px;
    font-size:28px;
    background-color:#60a4cc;
    color:#fff;
}

.info-custumer{
    width:100%;
    font-size:16px;
    background-color:#5bc0de;
    color:#fff;
    padding:5px 5px 5px 5px;
}

.white{
    background-color:white;
    color:#5bc0de;
}
.chart-table-content{
    width:100%;
    border:1px solid lightblue;
    margin:5px 0px 5px 0px;
    height:460px;
    background-color:#f6f7f9;
}
.chart-table-content-title{
    padding-left:5px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:5px;
    font-size:16px;
    background-color:lightblue;
    color:#fff;
    height:50px;
}
.chart-table-content-info{
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    border-bottom:1px solid lightblue;
    height:75px;
}
.chart-table-content-info-product{
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    border-bottom:1px solid lightblue;
    font-weight:bold;
}
.chart-table-product-info{
    height:345px;
    width:340px;
    margin:5px 5px 5px 5px
}
p1{
    font-size:20px;
    width:10%;
    font-weight:bold;
}
/*---------------------*/


/*Collapse panal accordion*/
.panel-heading .accordion-toggle h4:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;        
    color: grey;        
    overflow: no-display;
}
.panel-heading .accordion-toggle.collapsed h4:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    
}
a.accordion-toggle{
    text-decoration: none;
}
.panel-group .panel {
    margin: 5px 0 0 0;
    padding: 0;
    border-radius:0px;
    box-shadow:none;
}
.panel-default > .panel-heading-custom {
    background-color: #60a4cc;
    color:#fff;
    border-radius:0px;
}
.panel-body-custom {
    padding-left:30px;
    padding-right:30px;
}

/* unvisited link */
a#a1:link {
    color: #fff;
}

/* visited link */
a#a1:visited {
    color: #00FF00;
}

/* mouse over link */
a#a1:hover {
    color: yellow;
}

/* selected link */
a#a1:active {
    color: yellowgreen;
}
/*---------------------*/

/*padding statistics product ~/GraphProduct.cshtml*/
.padding-stat-product{ /*padding for panel-body*/
    padding-bottom:15px;
    padding-top:15px;
    padding-left:5px;
    padding-right:5px;  
}
.padding-input-datetime{ /*padding for input kendo datetime*/
    padding-left:15px;
    padding-right:5px;
}
.padding-input-dropdown{ /*padding for input kendo dropdown*/
    padding-left:5px;
    padding-right:15px;
}
/*kendo autocomplte*/
.header-temp{
    background-color:#60a4cc;
    color:#fff;
}
.header-temp-span{
    padding-right:20px;
    border-right:1px solid white;
}
.header-temp-span-test{
    padding-right:60px;
    border-right:1px solid black;
}
.header-temp-test{
    background-color:#60a4cc;
    color:#fff;
    width:56px;
    text-align:center;
}
/*create bill <hr/> style*/
.hr-style{
    border:1px solid whitesmoke;
    margin-top:20px;
}
#no-padding{
    padding-left:0px;
}

@media screen  and (max-width: 620px) /* < 400px wide */
{
    #no-padding {
        padding-left:15px;
    }
}


/*create bill style*/
.table-content1{
    width:100%;
    padding:10px 5px 5px 5px;
    display:inline-block;
    background-color:#fff;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
}
#margin-bottom{
    margin-bottom:0;
}
@media screen and (max-width: 850px) /* < 400px wide */
{
    #margin-bottom {
         margin-bottom:5px;
         
    }
}
.input-full-width{
    width:100%;
}

/*div for search input*/
.search-input{
    height:34px;
    width:auto;
    margin-top:20px;
    margin-bottom:20px;
}

/*contain for datetime picker*/
.content-datetimepicker{
    height: auto;
    width:100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display:inline-block;
}
/*refresh button graph*/
.refresh{
        margin-top:8px; 
        margin-bottom:8px;
        margin-right:5px;
        color:#5bc0de;
}

@media screen and (max-width:600px){
    #nopadding{
        padding-right:0;
    }
}
