﻿@model  List<object>
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row row-margin-bill-preview">
    <a href="/Stats/GraphLiquidity">
        <div class="col-sx-6 col-sm-4">
            <table class="chart-table-content">
                <tr>
                    <td class="chart-table-content-title">
                        <b>  Khối Lượng Giao Dịch </b><span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td class="chart-table-content-info">
                        <div><p1>@Html.Action("CountLiquidityWeek","Stats")</p1><b>số lượng giao dịch</b></div>
                        <div>@Html.Action("CountLiquidityLastWeek", "Stats") <font style="font-style:italic">so với tuần trước</font></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="chart"></div>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/Stats/Graph">
        <div class="col-sx-6 col-sm-4">
            <table class="chart-table-content">
                <tr>
                    <td class="chart-table-content-title">
                        <b>Doanh Thu </b><span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td class="chart-table-content-info">
                        <div><p1>@Html.Action("SumTurnoverWeek", "Stats")</p1> </div>
                        <div>@Html.Action("SumTurnoverLastWeek", "Stats")<font style="font-style:italic">so với tuần trước</font></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="chart2"></div>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/Stats/GraphProduct">
        <div class="col-sx-6 col-sm-4">
            <table class="chart-table-content">
                <tr>
                    <td class="chart-table-content-title">
                        <b>  Sản Phẩm </b><span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td class="chart-table-content-info">
                        <div><p1>@Html.Action("CountProductWeek", "Stats")</p1> <b>Lượng Sản phẩm Bán ra</b></div>
                        <div>@Html.Action("CountProductLastWeek", "Stats")<font style="font-style:italic">so với tuần trước</font></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="chart-table-product-info">
                            <tr>
                                <td class="chart-table-content-info-product">
                                    <div><p1>@ViewBag.Quantity1</p1></div>
                                    <div>@ViewBag.Product1</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="chart-table-content-info-product">
                                    <div><p1>@ViewBag.Quantity2</p1></div>
                                    <div>@ViewBag.Product2</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="chart-table-content-info-product">
                                    <div><p1>@ViewBag.Quantity3</p1></div>
                                    <div>@ViewBag.Product3</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="chart-table-content-info-product">
                                    <div><p1>@ViewBag.Quantity4</p1></div>
                                    <div>@ViewBag.Product4</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @*<tr>
                        <td>
                            <div id="chart3"></div>
                        </td>
                    </tr>*@
            </table>
        </div>
    </a>
</div>
<script>
    var date = new Date();
    $("#chart").kendoChart({
        dataSource: {
            transport: {
                read: {
                    url: "/Stats/LiquidityOfWeek",
                    dataType: "json"
                }
            }
        },
        title: {
            //  text: "Biểu Đồ Thống Kê Doanh Thu Trong Năm "
        },
        //panes: [
        //    { name: "top-pane" },
        //    { name: "left-pane" }
        //],
        plotArea: {
            background: "white",

        },
        //chartArea: {
        //    border: {
        //        width: 2,
        //        color: "transparent",
        //       // dashType: "solid",
        //        height: 200,
        //        width: 500,
        //        margin: {
        //            top: 10,
        //            left: 10,
        //            right: 10,
        //            bottom: 10,
        //            opacity: 0.1
        //        }
        //    }
        //},
        legend: {
            visible: true,
             align: "center",
         //   offsetX: 240,
           // offsetY: 230,
           //  background: "#ADB3BC",
            position: "top",
            //labels: {
            //    font: "20px sans-serif",
            //    color: "red"
            //}
        },
        series: [{
            name: "Tuần trước",
            data: "dataSource",
            type: "line",
           // style:"smooth",
            field: "LiquidityLastWeek",
            color: "rgb(162,162,162)",//chinh mau do thi tuan truoc
            categoryField: "Time",
            markers: {
                visible: false
            }
        },
        {
            name: "Tuần này",
            data: "dataSource",
            type: "line",
            // closeField: "Time",
            // highField: "Time",
          //   style: "smooth",
            // visible:false,
            //  noteTextField: "Time",
            //notes: {
            //    icon: {
            //        background: "green"
            //    }
            //},
            field: "Liquidity",
            color: "rgb(79, 93, 123)",
            categoryField: "Time",
            //gap: 0.2,
            //spacing: 0.2,
            markers: {
                visible: false
            }
        }

        ],
        categoryAxis: {
            // categories: ["", " Hai", " Ba", " ", " Năm", " Sáu", " Bảy", " Tám", " Chín", " Mười", " Mười Một", " Mười Hai"],
            majorGridLines: {
                visible: false
            },
            majorTicks: {
                visible: false
            }
        },
        valueAxis: {
            //title: {
            //    text: "voltage"
            //},
            majorGridLines: {
                visible: false
            },
            visible: true

        },
        tooltip: {
            visible: true,
            format: "{0}%",
            template: " #= value #"
        }
    });
</script>
<script>
    var date = new Date();
    $("#chart2").kendoChart({
        dataSource: {
            transport: {
                read: {
                    url: "/Stats/TurnoverOfWeek",
                    dataType: "json"
                }
            }
        },
        title: {
            //  text: "Biểu Đồ Thống Kê Doanh Thu Trong Năm "
        },
        //panes: [
        //    { name: "top-pane" },
        //    { name: "left-pane" }
        //],
        plotArea: {
            background: "white",

        },
        //chartArea: {
        //    border: {
        //        width: 2,
        //        color: "transparent",
        //       // dashType: "solid",
        //        height: 200,
        //        width: 500,
        //        margin: {
        //            top: 10,
        //            left: 10,
        //            right: 10,
        //            bottom: 10,
        //            opacity: 0.1
        //        }
        //    }
        //},
        legend: {
            visible: true,
            // align: "center",
            //offsetX: 240,
            //offsetY: 230,
            //  background: "green",
            position: "top",
            //labels: {
            //    font: "20px sans-serif",
            //    color: "red"
            //}
        },
        series: [{
            name: "Tuần trước",
           // style:"smooth",
            data: "dataSource",
            type: "line",
            field: "TurnoverLastWeek",
            color: "rgb(162,162,162)",
            categoryField: "Time",
            markers: {
                visible: false
            }
        }, {
            name: "Tuần này",
            data: "dataSource",
            type: "line",
            // closeField: "Time",
            // highField: "Time",
         //    style: "smooth",
            // visible:false,
            //  noteTextField: "Time",
            //notes: {
            //    icon: {
            //        background: "green"
            //    }
            //},
            field: "Turnover",
            color: "rgb(247, 154, 10)",
            categoryField: "Time",
            //gap: 0.2,
            //spacing: 0.2,
            markers: {
                visible: false
            }
        }

        ],
        categoryAxis: {
            // categories: ["", " Hai", " Ba", " ", " Năm", " Sáu", " Bảy", " Tám", " Chín", " Mười", " Mười Một", " Mười Hai"],
            majorGridLines: {
                visible: false
            },
            majorTicks: {
                visible: false
            }
        },
        valueAxis: {
            //title: {
            //    text: "voltage"
            //},
            majorGridLines: {
                visible: false
            },
            visible: false
        },
        tooltip: {
            visible: true,
            format: "{0}%",
            template: " #= value #"
        }
    });
</script>

