﻿
@model IEnumerable<SaleManagement.Models.Product>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">@Model.Count()</span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li role="menuitem">@Html.ActionLink(Model.ToList()[i].ProductName, "Edit", "Product", new { id = Model.ToList()[i].ProductID }, null)</li>
        }
    </ul>
</li>
