﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quản Lý Bán Hàng</title>

    @*<link href="http://fonts.googleapis.com/css?family=Lato:400,300italic,400bold" rel="stylesheet" type="text/css" />*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <link href="~/Content/homepage/normalize.css" rel="stylesheet" />
    <link href="~/Content/homepage/animate.css" rel="stylesheet" />
    <link href="~/Content/homepage/styles.css" rel="stylesheet" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-21195039-3', 'aerolab.github.io');
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <!-- Our super awesome changing header! -->
    <nav class="fixed">
        <div class="midnightHeader default">
            <div class="logo-holder">
                <a class="logo"><span class="screenreader"></span></a>
            </div>
        </div>
    </nav>

    <div class="top-links" data-midnight="white">
        <a class="button" href="@Url.Action("Login", "Account")">Đăng Nhập</a>
        <a class="button button-github" href="https://thephuongsolution.com" target="_blank">The Phuong Solution</a>
    </div>

    <div class="first-background" data-midnight="white">
        <!-- Hi! -->
    </div>

    <header data-midnight="black">
        <div class="container">
            <h1 class="wow fadeInUp">Cửa hàng của bạn đang thiếu nhân lực? Nhân viên của bạn làm việc không đúng với năng suất bạn mong muốn? Hay phần mềm bạn đang sử dụng đã lỗi thời! Đã đến lúc bạn cần đến một phần mềm bán hàng thông minh có thể giúp bạn</h1>
            <p class="wow fadeInUp">- Cắt giảm nhân lực - <br />- Tiết kiệm chi phí -<br />- Nhanh chóng, tiện lợi -</p>
            <div class="scroll-prompt wow fadeInUp"></div>
            <figure id="space-island">
                <img class="wow fadeInUp" src="~/Content/homepage/images/space-island.jpg" />
            </figure>
        </div>
    </header>

    <section class="step step-one" data-midnight="blue">
        <div class="container">
            <div class="instructions wow fadeInLeft" >
                <img src="~/Content/homepage/images/statindex.png" style="width:538px" />
                
            </div>
            <div class=" instructions wow fadeInRight" style="padding-left:100px;text-align:justify;">
                <h2>Thống kê trực quan</h2>
                <p>Create your fixed nav (or header) as you typically would.</p>
                <p>You can use whatever markup suits you, just make sure the header works well with <em>position:fixed</em>.</p>
            </div>
        </div>
    </section>

    <section class="step step-two" data-midnight="light">
        <div class="container">
            <div class="instructions wow fadeInLeft" style="padding-right:10px;text-align:justify">
                <h2>Thống kê theo biểu đồ</h2>
                <p>After that, take any sections of your page that need a different nav and add <em>data-midnight="your-class"</em> to it, where <em>.your-class</em> is the class you are going to use to style that header.</p>
                <p>If you don't use the property or just leave it blank, the <em>.default</em> class will be used for that section.</p>
            </div>
            <div class=" instructions wow fadeInRight"><img src="~/Content/homepage/images/graphSP.png" style="width:538px" /></div>
        </div>
    </section>

    <section class="step step-three" data-midnight="dark">
        <div class="container">
            <div class="instructions wow fadeInLeft">
                <img src="~/Content/homepage/images/bansp.png" style="width:538px" />

            </div>
            <div class=" instructions wow fadeInRight" style="padding-left:100px;text-align:justify;">
                <h2>Thao tác đơn giản</h2>
                <p>Create your fixed nav (or header) as you typically would.</p>
                <p>You can use whatever markup suits you, just make sure the header works well with <em>position:fixed</em>.</p>
            </div>
        </div>
    </section>

    <section class="step step-four" data-midnight="lighter">
        <div class="container">
            <div class="instructions wow fadeInLeft" style="padding-right:10px;text-align:justify">
                <h2>Tính năng ưu việt</h2>
                <p>You can style it in your css using the class <em>.midnightHeader.your-class</em>.</p>
                <p>Use whatever CSS or markup you like for each one. They will be switched automatically when necessary.</p>
            </div>
            <div class="instructions wow fadeInRight">
                <img src="~/Content/homepage/images/qlsp.png" style="width:538px" />
            </div>
        </div>
    </section>

    <section class="step step-five full-height" data-midnight="white">
        <div class="container">
            <div class="instructions wow fadeInLeft">
                <img src="~/Content/homepage/images/nhanvien.png" style="width:538px" />

            </div>
            <div class=" instructions wow fadeInRight" style="padding-left:100px;text-align:justify;">
                <h2>Quản lý thông minh</h2>
                <p>Create your fixed nav (or header) as you typically would.</p>
                <p>You can use whatever markup suits you, just make sure the header works well with <em>position:fixed</em>.</p>
            </div>
        </div>
    </section>

    <footer class="footer" data-midnight="full">

        <div class="illustration-city">

            <div class="container">
                <div class="buttons wow fadeIn">
                    <a class="button" href="https://aerolab.github.io/midnight.js/midnight.jquery.min.js" download>Download</a>
                    <a class="button" href="https://github.com/Aerolab/midnight.js" target="_blank"><i class="icon-github"></i> Fork on GitHub</a>
                </div>
            </div>
            <div class="signature">
                <a href="http://aerolab.co" target="_blank" class="signature-aerolab"><span class="screenreader">by Aerolab</span></a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/homepage/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/homepage/sscr.min.js"></script>
    <script src="~/Scripts/homepage/prism.js"></script>
    <script src="~/Scripts/homepage/wow.min.js"></script>
    <script src="~/Scripts/homepage/viewport-units-buggyfill.js"></script>
    <script src="~/Scripts/homepage/midnight.jquery.min.js"></script>


    <script>



        $(document).ready(function () {
            // vh fix for iOS7 (Not that it works well on that anyway)
            viewportUnitsBuggyfill.init();

            $(window).resize(function () {
                viewportUnitsBuggyfill.refresh();
            });

            // Start Midnight!
            $('nav.fixed').midnight();

            // Start wow.js
            new WOW().init();

            // The island disappears when the logo moves on top of it
            var $island = $('#space-island');
            var islandTop = $island.offset().top;
            var windowHeight = $(window).height();

            $(window).resize(function () {
                islandTop = $island.offset().top;
                windowHeight = $(window).height();
            });

            $(document).scroll(function () {
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                var minScrollTop = islandTop - windowHeight * 0.4;
                var maxScrollTop = islandTop;

                // Opacity goes from 1.0 at the bottom 2/3 of the screen to 0.4 at the top
                if (scrollTop <= islandTop * 2) {
                    var targetOpacity = 1.0;
                    var minOpacity = 0.4;

                    if (scrollTop > minScrollTop && scrollTop < maxScrollTop) {
                        targetOpacity = ((maxScrollTop - scrollTop) / (maxScrollTop - minScrollTop)) * (1.0 - minOpacity) + minOpacity;
                    }
                    else if (scrollTop > maxScrollTop) {
                        targetOpacity = minOpacity;
                    }
                    else if (scrollTop < minScrollTop) {
                        targetOpacity = 1.0;
                    }

                    $island.css('opacity', targetOpacity);
                }

            });

            $('.scroll-prompt').click(function (event) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("section.step-one").offset().top - $('nav').height() * 0.5
                }, 1000, 'swing');
            });

            $(window).trigger('resize');

        });
    </script>
</body>
</html>