﻿@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div id="example">
    <div id="grid"></div>
    <div id="window"></div>

    <script type="text/x-kendo-template" id="windowTemplate">
        @*<form method="post" action="@Url.Action("Upload","Account")">
                <div class="demo-section k-header">
                    <input name="files" id="files" type="file" />
                    <p>
                        <input type="submit" value="Submit" class="k-button" />
                    </p>
                </div>
            </form>*@
        <div >

            <div class="col-md-4">
                <img src="#:ImageEmployee#" style="width:270px; height:250px;" />
                <div class="text-center">#=EmployeeName#</div>
            </div>
            <div class="col-md-6 col-md-push-1 text-center">
                <input name="files" id="files" type="file" />
                <button class="k-button" id="noButton">ĐÓNG</button>
            </div>
            
        </div>
    </script>
   
        @Scripts.Render("~/bundles/Employee")
</div>