﻿@using SaleManagement.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng Nhập";
    //Layout = null;
}

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">

    <title>Login Page 2 | Creative - Bootstrap 3 Responsive Admin Template</title>


    <link href="~/Content/homepage/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/homepage/loginpage/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/homepage/loginpage/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/homepage/loginpage/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/homepage/loginpage/style.css" rel="stylesheet" />
    <link href="~/Content/homepage/loginpage/line-icons.css" rel="stylesheet" />
    <link href="~/Content/Admin/font-awesome.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-img3-body">

    <div class="container">

        <form class="login-form" action="index.html">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Tên Đăng Nhập" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" placeholder="Mật Khẩu">
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" style="margin-left:-15px"> Ghi nhớ đăng nhập
                    <span class="pull-right"> <a href="#"> Quên mật khẩu?</a></span>
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng Nhập</button>
                <button class="btn btn-info btn-lg btn-block" type="submit">Đăng Ký</button>
            </div>
        </form>

    </div>


</body>
</html>*@

<div style="padding-top:20px"></div>
<h2 class="page-header">@ViewBag.Title</h2>
<div class="row" style=">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Email" class="required col-md-2">Email</label>
                    <div class="col-md-10">
                        <input type="text" id="Email" name="Email" class="k-textbox" placeholder="Nhập Email" required validationmessage="Enter {0}" style="width: 200px;" />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="required col-md-2">Mật Khẩu</label>
                    <div class="col-md-10">
                        
                        @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                        <input type="password" id="Password" name="Password" class="k-textbox" placeholder="Nhập mật khẩu" required validationmessage="Yêu cầu nhập mật khẩu" style="width: 200px;" />
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            
                            <i>Ghi nhớ đăng nhập</i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="k-button k-primary" type="submit">Đăng Nhập</button>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Đăng ký tài khoản mới", "Register")
                </p>
                // Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}